<div class="ui floating message" id="register">
  <div class="ui container">
    <div class="ui big fluid action input">
      Title :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input #title type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    <div class="ui big fluid action input">
      Genres :&nbsp;&nbsp;
      <input #genres type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    <div class="ui big fluid action input">
      Duration :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input #duration type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    <div class="ui big fluid action input">
      Release Date :&nbsp;&nbsp;
      <input #releaseDate type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    <div class="ui big fluid action input">
      Original Title :&nbsp;
      <input #originalTitle type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    <div class="ui big fluid action input">
      Storyline :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input #storyline type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    <div class="ui big fluid action input">
      imdb Rating :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input #imdbRating type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    <div class="ui big fluid action input">
      Poster url :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input #posterurl type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
  <div class="ui  grid">
  <div class="computer only tablet only row">
    <button class="ui big blue right labeled icon button" type="submit" (click)="addMovie()">Submit</button>
  </div></div></div>
