<div class="ui floating message" id="register">
  <div class="ui big container">
    Title :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="ui fluid action input">
      <input #title type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    Genres :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="ui fluid action input">
      <input #genres type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    Duration :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="ui fluid action input">
      <input #duration type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    Release Date :&nbsp;&nbsp;
    <div class="ui fluid action input">
      <input #releaseDate type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    Original Title :&nbsp;
    <div class="ui fluid action input">
      <input #originalTitle type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    Storyline :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="ui fluid action input">
      <input #storyline type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    IMDB Rating :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="ui fluid action input">
      <input #imdbRating type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    Poster url :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="ui fluid action input">
      <input #posterurl type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
  <div class="ui  grid">
  <div class="computer only tablet only row">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="ui big blue right labeled icon button" type="submit" (click)="addMovie()">Submit</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="ui big blue right labeled icon button" type="submit" (click)="back()">Back</button>

  </div></div></div></div>
