<div class="ui container" align = "center">
  <div style="text-align: center;font-weight: bold;text-decoration: underline; font-size:40px">
    Movies application
  </div>
      <br>
      <div>
        <p style="text-align: center;font-weight: bold; font-size:20px">Username : </p><input #uname type="text" placeholder="Username"><br>
        <p style="text-align: center;font-weight: bold; font-size:20px">Password : </p><input #password type="password" placeholder="Password">
          <div class="computer only tablet only row">
            <button class="ui big blue right labeled icon button" type="submit" (click)="login(uname,password)">
              <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login</span>
            </button>
            <br><br>
            <button class="ui big blue right labeled icon button" type="submit" (click)="register();">
              <span>&nbsp;&nbsp;&nbsp;&nbsp;New User? Register here</span>
            </button>
          </div>
      </div>
</div>
