<app-search></app-search>
<div class="ui container">
  <div class="ui grid">
    <div class="middle aligned sixteen wide mobile eight wide tablet eight wide computer column">
      <div class="ui large breadcrumb">
        <div class="active section">
          <span class="ui blue header">
            <span>Popular movies</span>
          </span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="ui link five doubling cards" >
        <div class="card" [routerLink]="['/movie/'+movie?.title]" *ngFor="let movie of movies;" routerLinkActive="active">
        <div class="image">
          <img *ngIf="movie?.posterurl" class="ui fluid image" src="{{ movie?.posterurl }}">
        </div>
        <div class="content">
          <div class="header">
            {{ movie.title}}
          </div>
          <div class="description">
            <span>Popularity</span>
            : {{ movie.imdbRating  | number : '1.0-1' }}
            <br>
            <span>Original Title</span>
            : {{ movie.originalTitle }}
          </div>
        </div>
        <div class="extra content">
        <span class="right floated">
          <h3>
            <i class="star icon"></i>
            {{ movie.imdbRating }}
          </h3>
        </span>
          {{ movie.releaseDate }}
        </div>
          <div class="computer only tablet only row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="ui big blue right labeled icon button" type="submit" [routerLink]="['/home']" (click)="deleteMovie(movie.title);"><span class="glyphicon glyphicon-trash"></span>&nbsp;Delete</button>
          </div><br>
          <div class="computer only tablet only row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="ui big blue right labeled icon button" [routerLink]="['/addEdit/'+movie?.title]" type="submit"><span class="glyphicon glyphicon-edit"></span>&nbsp;Edit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
          </div><br>
      </div>
      </div>
  </div>
</div>

