<div class="ui container">
  <h2 class="ui blue header">
    {{ selectedMovie?.title }}
  </h2>

  <div class="ui floating message" id="main" >
    <div class="ui padded grid" id="content">
      <div class="middle aligned sixteen wide mobile eight wide tablet four wide computer column">
        <img *ngIf="selectedMovie?.posterurl" class="ui fluid image" src="{{ selectedMovie?.posterurl }}">
      </div>
      <div class="sixteen wide mobile eight wide tablet twelve wide computer column">
        <div class="ui sub header">
          <span>Genres</span>
        </div>
        <div class="ui centered grid">
          <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            {{ selectedMovie?.genres }}
          </div>
          <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">
              <span>Overview</span>
            </div>
            {{ selectedMovie?.storyline }}
          </div>
          <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">
              <span>Original Title</span>
            </div>
            {{ selectedMovie?.originalTitle }}
          </div>
          <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">
              <span>Duration</span>
            </div>
            {{ selectedMovie?.duration }}
          </div>
          <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">
              <span>Vote average</span>
            </div>
            <div class="ui blue statistic">
              <div class="text value">{{ selectedMovie?.imdbRating }}</div>
            </div>
          </div>

          <div  class="sixteen wide mobile sixteen wide tablet sixteen wide computer column">
            <div class="ui sub header">
              <span>Release date</span></div>
            <div class="ui blue statistic">
              <div class="text value">{{ selectedMovie?.releaseDate }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="sixteen wide column">
      <div class="ui large animated fluid button" tabindex="0" (click)="back()">
        <div class="visible content">
          <i class="left arrow icon"></i>
        </div>
        <div class="hidden content">
          <span>Back</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui floating message" id="comment">

  <form action="">
    <div class="ui container">
      Rating:
      <div class="ui big fluid action input">

        <input #rating pattern="[1-9]|10" title="Error: 10 digits are required." type="number" max="10" min="1" required/><br></div></div><br><br>
<div class="ui container">
  Comment:
  <div class="ui big fluid action input">
<input #comment
       type="text"
       (keyup.enter)="addComment(comment.value, rating.value)"><br>

    <div class="ui  grid">
      <br><br></div></div><br>
      <div class="computer only tablet only row">
        <button class="ui big blue right labeled icon button" type="submit" (click)="addComment(comment.value, rating.value)">
          <span>Add Comment</span>
        </button>
  </div></div></form></div>

<div class="ui floating message" id="comments" *ngFor="let input of selectedMovie?.userInput">
  <h2 class="ui blue header">
  {{input?.user}}
  </h2>
</div>
