<div class="ui floating message" id="register">
  <div class="ui container">
    <div class="ui big fluid action input">
      Name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input #name type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    <div class="ui big fluid action input">
      Username :&nbsp;&nbsp;
      <input #uname type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    <div class="ui big fluid action input">
      Email :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input #email type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    <div class="ui big fluid action input">
      Password :&nbsp;&nbsp;
      <input #password type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    <div class="ui big fluid action input">
      Confirm Password :&nbsp;
      <input #confirmpassword type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
  <div class="ui  grid">
  <div class="computer only tablet only row">
    <button class="ui big blue right labeled icon button" type="submit" (click)="register()">
      <span>Register</span>
    </button></div></div></div>
