<div class="ui floating message" id="register">
  <div class="ui container">
    Name :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="ui fluid action input">
      <input #name type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    Username :&nbsp;&nbsp;
    <div class="ui fluid action input">
      <input #uname type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    Email :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="ui fluid action input">
      <input #email type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    Password :&nbsp;&nbsp;
    <div class="ui fluid action input">
      <input #password type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
    Confirm Password :&nbsp;
    <div class="ui fluid action input">
      <input #confirmpassword type="text"><br>
    </div>
  </div><br><br>
  <div class="ui container">
  <div class="ui  grid">
  <div class="computer only tablet only row">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class="ui big blue right labeled icon button" type="submit" (click)="register()">
      <span>Register</span>
    </button></div></div></div>
